:root {
  font-family: "Montserrat", serif;
  --bg-color: #001640;
  --white-color: #e5e5e5;
  --orange-color: #fe766a;
  --bg-secondary: #4547ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-family: "Poppins";
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  align-items: center;
  padding: 1.5em;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

/* Navbar */
.nav-logo {
  grid-column: 2/3;
  color: var(--white-color);
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
}

/* .store {
  background-color: var(--orange-color);
  padding: 0.3em 0.8em;
  border-radius: 1em;
} */

/* main */
main {
  padding: 1em calc(10% + 1em);
}

/* section */

/* landing */
.landing {
  height: calc(100vh - 1.5em);
  display: flex;
  justify-content: space-between;
}

.tagline {
  font-family: "Montserrat";
  align-self: center;
  color: var(--orange-color);
  font-weight: 400;
  font-size: 4rem;
  position: relative;
}

.tagline::before {
  content: "";
  background-color: var(--white-color);
  width: 40%;
  height: 2px;
  position: absolute;
  left: 0;
  top: -10px;
  animation: slideRight 1s;
}

.tagline::after {
  content: "";
  background-color: var(--white-color);
  width: 40%;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -10px;
  animation: slideLeft 1s;
}

.about {
  padding: 1em;
  display: grid;
  place-items: center;
}

.about-us {
  margin-top: 83px;
  width: 80%;
  height: 50%;
  background-color: var(--orange-color);
  border-radius: 4em;
  display: grid;
  grid-template-rows: 1fr 10%;
  margin-left: auto;
  margin-right: auto;
}

.about-title {
  color: var(--white-color);
  font-size: 3rem;
  padding: 0.2em;
  margin-top: 0.5em;
  position: relative;
}

.about-paragraf {
  color: var(--white-color);
  font-size: 2rem;
  padding: 2em;
}

.about-title::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 60%;
  height: 5px;
  background-color: var(--white-color);
  margin: 0 auto;
}

.expert{
  height: 100vh;
}

.expert-title{
  margin-top: 3em;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expert-title::after{
  content: "";
  display: inline-block;
  margin-left: 15px;
  width: 15%;
  height: 5px;
  background-color: var(--white-color);
}

.card-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  width: 400px;
  height: 520px;
  border-radius: 28px;
  background: var(--bg-secondary);
  margin: 15px;
  position: relative;
}

.card-img{
  height: 50%;
}

.card-img img{
  height: 100%;
}

.card-title{
  font-size: 2rem;
  color: var(--white-color);
}

.card-text{
  font-size: 1.7rem;
  margin-top: 1em;
  padding: 0 25px;
  text-align: left;
  color: var(--white-color);
  font-weight: 100;
}

.card-text b{
  font-weight: 500;
}

.btn{
  display: inline-block;
  padding: 0.9rem 1.8rem;
  background-color: var(--orange-color);
  margin-top: 24px;
  border-radius: 41px;
}

.card .btn{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  place-self: center;
  padding: 1em;
  margin-bottom: 3em;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.iconify {
  color: var(--white-color);
  width: 48px;
  height: 48px;
}

strong {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.absolute {
  position: absolute;
  z-index: -1;
}

.block-1 {
  width: 500px;
  bottom: 0;
  left: 0;
}

.block-2 {
  width: 500px;
  top: 0;
  right: 0;
}

.img {
  width: 400px;
}

.bg-main {
  background-color: var(--bg-color);
}

.masterpiece{
  margin-top: 100px;
}

.masterpiece .list{
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.masterpiece .list ul{
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.masterpiece .list h3{
  font-size: 1.8rem;
}

.masterpiece .list .btn{
  margin: 0;
  background-color: var(--bg-secondary);
}

.masterpiece .masterpiece-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100vh;
}

.masterpiece .masterpiece-container .box{
  background-color: var(--orange-color);
}

.colaborate{ 
  margin:100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  background-color: var(--bg-secondary);
  padding: 3em calc(10% + 1em);
}

.colaborate .btn{
  margin: 0;
}

.store{
  margin-bottom: 100px;
}

.store .head{
  display: flex;
  justify-content: space-around;
  color: var(--white-color);
}

.store .head .btn{
  margin: 0;
}

.store .products{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100vh;
  margin-top: 50px;
}

.store .products .box{
  background-color: var(--orange-color);
}

.footer{
  margin: 50px 0;
  color: white;
}

.footer .one {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  border-top: 3px solid var(--white-color);
  border-bottom: 3px solid var(--white-color);
  padding: 20px 0;
}

.footer .one .list{
  display: flex;
  flex-direction: column;
}

.footer .one .list h2{
  margin-bottom: 20px;
}

.footer .one .list:first-child{
  grid-column: 2/3;
}

.footer .two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .two .right{
  width: 50%;
  margin: 0;
}

.footer .three{
  margin: 100px 0;
}

/* animation */
@keyframes slideLeft {
  0% {
    width: 120%;
    left: -40%;
  }

  50% {
    width: 40%;
    left: 60%;
  }

  100% {
    width: 40%;
  }
}

@keyframes slideRight {
  0% {
    width: 120%;
    right: -40%;
  }

  50% {
    width: 40%;
    right: 60%;
  }

  100% {
    width: 40%;
  }
}
